<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .text-danger d-block{
            color: red;
        }
        #formBox{
        margin-top: 10%;
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div id="formBox" class="d-flex justify-content-center align-items-center vh-100">
    <form method="POST" th:action="@{/register/addUser}" th:object="${user}">
        <div class="form-group row">
            <small th:if="${userError}" class="text-danger d-block" th:text="${userError}"></small>
            <input th:field="*{username}" class="form-control" required placeholder="Username"/>
        </div>
        <div class="form-group row">
            <input th:field="*{password}" class="form-control" type="password" required placeholder="Password"/>
        </div>
        <div class="form-group row">
            <small th:if="${passError}" class="text-danger d-block" th:text="${passError}"></small>
            <input class="form-control" name="passCheck" type="password" required placeholder="Confirm Password">
        </div>
        <button class="btn btn-md btn-success" type="submit" value="submit">Create Account</button>
    </form>
</div>
</body>
</html>