<div th:fragment="movie-list" class="container table-container mt-4">
    <h2 class="mb-4">Movie List</h2>
    <div class="table-responsive">
    <table class="table table-sm table-hover table-striped" >
        <button class="btn btn-info" hx-get="/movies/email-movie-list" hx-swap="none">Email My List</button>
        <thead class="table-dark">
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Actions</th>
            <th>Watched</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td><img th:src="${movie.imageURL}" alt="Movie Poster" class="movie-poster"></td>
            <td th:text="${movie.title}" style="word-wrap: break-word; white-space: normal;"></td>
            <td th:text="${movie.year}" style="word-wrap: break-word;"></td>
            <td th:text="${movie.genre}" style="word-wrap: break-word;"></td>
            <td th:text="${movie.rated}" style="word-wrap: break-word;"></td>
            <td>
                <a class="btn btn-dark btn-sm btn-custom"
                   hx-swap="innerHTML"
                   hx-target="#show-movie"
                   th:hx-get="@{/movies/showMovieDetails(page=${page}, title=${movie.title}, year=${movie.year})}"
                   onclick="scrollToMovieDetails()">Details</a>
                <a class="btn btn-danger btn-sm btn-custom"
                    th:hx-get="@{/movies/deleteMovie(page = ${page}, id=${movie.id})}"
                    hx-target="#movieResults"
                    hx-swap="innerHTML">Remove</a>
                <div th:id="'watchButton'+${movie.id}">
                <a class="btn btn-sm btn-secondary"
                   hx:get="@{/movies/updateForm(page = ${page}, title = ${movie.title}, year =${movie.year})}"
                   th:hx-target=" '#watchButton'+ ${movie.id}"
                   hx-swap="innerHTML">Update</a>
                </div>
            </td>
            <td th:if="${movie.watched} == false">&#x274c</td>
            <td th:if="${movie.watched} == true">&#10004;</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="pagination mt-4">
        <ul class="pagination">
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=1)}" hx-target="#movieResults" hx-swap="innerHTML">First</a>
            </li>
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${page - 1})}"hx-target="#movieResults" hx-swap="innerHTML">Prev</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${page + 1})}" hx-target="#movieResults" hx-swap="innerHTML">Next</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${totalPages})}"hx-target="#movieResults" hx-swap="innerHTML">Last</a>
            </li>
        </ul>
    </div>
    <script>
        function scrollToMovieDetails() {
            document.getElementById('show-movie').style.display='block'
            document.getElementById("show-movie").scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</div>