<div th:fragment="movie-list" class="container table-container mt-4">
    <h2 class="mb-4">Movie List</h2>
    <div class="table-responsive">
    <table class="table table-sm table-hover table-striped" >
        <button class="btn btn-info" hx-get="/movies/email-movie-list" hx-swap="none">Email My List</button>
        <thead class="table-dark">
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Actions</th>
            <th>Watched</th>
            <th>My Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td><img th:src="${movie.movie.imageURL}" alt="Movie Poster" class="movie-poster"></td>
            <td th:text="${movie.movie.title}" style="word-wrap: break-word; white-space: normal;"></td>
            <td th:text="${movie.movie.year}" style="word-wrap: break-word;"></td>
            <td th:text="${movie.movie.genre}" style="word-wrap: break-word;"></td>
            <td th:text="${movie.movie.rated}" style="word-wrap: break-word;"></td>
            <td>
                <div class="d-flex flex-column gap-2">
                    <a class="btn btn-dark btn-sm w-100 text-center"
                       hx-swap="innerHTML"
                       hx-target="#show-movie"
                       th:hx-get="@{/movies/showMovieDetails(page=${page}, title=${movie.movie.title}, year=${movie.movie.year})}"
                       onclick="scrollToMovieDetails()">Details</a>
                    <a class="btn btn-danger btn-sm w-100 text-center"
                       th:hx-get="@{/movies/deleteMovie(page = ${page}, id=${movie.id})}"
                       hx-target="#movieResults"
                       hx-swap="innerHTML">Remove</a>
                    <div th:id="'watchButton'+${movie.id}">
                        <a class="btn btn-secondary btn-sm w-100 text-center"
                           hx:get="@{/movies/updateForm(page = ${page}, title = ${movie.movie.title}, year =${movie.movie.year})}"
                           th:hx-target=" '#watchButton'+ ${movie.id}"
                           hx-swap="innerHTML">Update Watched</a>
                    </div>
                    <div th:if="${movie.watched}" th:id="'scoreButton'+${movie.id}">
                        <a class="btn btn-info btn-sm w-100 text-center"
                           hx:get="@{/movies/updateScoreForm(page = ${page}, id=${movie.id})}"
                           th:hx-target=" '#scoreButton'+ ${movie.id}"
                           hx-swap="innerHTML">Update Score</a>
                    </div>
                </div>
            </td>
            <td th:if="${movie.watched} == false" class="text-success text-center align-middle">&#x274c</td>
            <td th:if="${movie.watched} == true" class="text-success text-center align-middle">&#10004;</td>
            <td th:if="${movie.watched == true && movie.userRating > 0}" th:text="${movie.userRating} + '/10'"></td>
            <td th:if="${movie.watched == false && movie.userRating == 0}">Not yet Rated</td>
            <td th:if="${movie.watched == true && movie.userRating == 0}">Not yet Rated</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="pagination mt-4">
        <ul class="pagination">
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=1)}" hx-target="#movieResults" hx-swap="innerHTML">First</a>
            </li>
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${page - 1})}"hx-target="#movieResults" hx-swap="innerHTML">Prev</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${page + 1})}" hx-target="#movieResults" hx-swap="innerHTML">Next</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" href="#" th:hx-get="@{/movies/list(page=${totalPages})}"hx-target="#movieResults" hx-swap="innerHTML">Last</a>
            </li>
        </ul>
    </div>
    <script>
        function scrollToMovieDetails() {
            document.getElementById('show-movie').style.display='block'
            document.getElementById("show-movie").scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</div>